
*.dll

BaseDeDatos/bin/Debug/BaseDeDatos.dll

BaseDeDatos/bin/Debug/BaseDeDatos.dll.config

BaseDeDatos/bin/Debug/BaseDeDatos.pdb

Presentacion/bin/BaseDeDatos.dll

Presentacion/bin/BaseDeDatos.pdb

Presentacion/bin/Presentacion.dll

Presentacion/bin/Presentacion.dll.config

Presentacion/bin/Presentacion.pdb
